---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import Button from '~/components/ui/Button.astro';

import { getHomePermalink, getAsset, trimSlash } from '~/utils/permalinks';

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;

const links = [
  { text: 'Home', href: '/' },
  { text: 'Posts', href: '/posts' },
  { text: 'Resume', href: '/resume' },
];
---
<header
  class="top-0 z-40 mx-auto w-full border-b border-gray-50/0 relative"
  id="header"
>
  <div class="relative text-default py-3 px-4 md:px-6 mx-auto w-full max-w-7xl flex justify-between items-center">
    <!-- Logo -->
    <a href={getHomePermalink()} class="flex items-center">
      <Logo />
    </a>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-6 text-sm font-medium">
      {links.map(({ text, href }) => (
        <a
          class:list={[
            'hover:text-link dark:hover:text-white px-2 py-1',
            { 'aw-link-active': href === currentPath },
          ]}
          href={href}
        >
          {text}
        </a>
      ))}
    </nav>

    <!-- Optional Theme Toggle -->
    <div class="hidden md:flex items-center space-x-4">
      <ToggleTheme iconClass="w-5 h-5" />
      <a
        class="text-muted hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5"
        aria-label="RSS Feed"
        href={getAsset('/rss.xml')}
      >
        <Icon name="tabler:rss" class="w-5 h-5" />
      </a>
    </div>
  </div>
</header>
